/* en dıştaki kısım */
input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 2px;
  border: 1.5px solid #F4F4F4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* iç kısım */
input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius:4px;
  transform: scale(0);
  transition: 10ms transform ease-in-out;
  background-color: #43B104;
}
/* checking... */
input[type="checkbox"]:checked::before {
  transform: scale(0.98);
  transition: 10ms transform ease-in-out;
}
